*.jl.*.cov
*.jl.cov
*.jl.mem
*.json
*.json.tmp
*.mem

*.csv
*.html
/*.svg
/test.jl

/Manifest*.toml
/docs/Manifest*.toml
/benchmark/Manifest*.toml
/demos/Manifest*.toml
/test/ext/Manifest*.toml
/docs/build/
statprof/
.vscode
