name: Benchmark vs. AoS

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  benchmark:
    name: Benchmarks
    runs-on: ubuntu-latest
    permissions: # required for caching
      actions: write
      contents: read
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Julia
      uses: ./.github/actions/setup-julia
      with:
        julia-version: '1'
        project-file: 'benchmark/Project.toml'
    - name: Install dependencies
      run: julia --project=benchmark -e 'using Pkg; Pkg.dev("https://github.com/mlange-42/Ark.jl.git"); Pkg.instantiate()'
    - name: Run benchmarks
      run: julia --project=benchmark benchmark/run_array_of_structs.jl
    - name: Move file
      run: |
        mkdir bench_aos
        mv bench_aos.csv bench_aos/bench_aos.csv
        mv bench_aos_light.svg bench_aos/bench_aos_light.svg
        mv bench_aos_dark.svg bench_aos/bench_aos_dark.svg
    - name: Archive results
      uses: actions/upload-artifact@v5
      with:
        name: bench_aos
        path: bench_aos
