name: Tests (large world)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Tests (large world)
    runs-on: ubuntu-latest
    permissions: # required for caching
      actions: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        version:
          - 'lts'
          - '1'
          - 'pre'
    steps:
    # Cancel ongoing CI test runs if pushing to branch again before the previous tests
    # have finished
    - name: Cancel ongoing test runs for previous commits
      uses: styfle/cancel-workflow-action@0.12.1
      with:
        access_token: ${{ github.token }}
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Julia
      uses: ./.github/actions/setup-julia
      with:
        julia-version: ${{ matrix.version }}
        project-file: './Project.toml'
    - name: Run tests
      run: julia --project=. run_tests.jl --large-world
