name: Tests (interop)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Tests (interop)
    runs-on: ubuntu-latest
    permissions: # required for caching
      actions: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        version:
          - 'lts'
          - '1'
    steps:
    - name: Cancel ongoing test runs for previous commits
      uses: styfle/cancel-workflow-action@0.12.1
      with:
        access_token: ${{ github.token }}
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Set up Julia
      uses: ./.github/actions/setup-julia
      with:
        julia-version: ${{ matrix.version }}
        project-file: './Project.toml'
    - name: Run tests
      run: julia --project=./test/ext run_tests.jl ./test/ext --interop
    - uses: julia-actions/julia-processcoverage@v1
    - uses: codecov/codecov-action@v5
      if: matrix.version == '1'
      with:
        files: lcov.info
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: false
